.sidebarWrap{
    width: 225px;
border: 0px 1px 0px 0px;
display: flex;
flex-direction: column;
border-right: 1px solid #FAFAFA;
box-shadow: 0px 6px 12px 0px #00000014;
min-height: 100%;

}

.singleSideItem{
    width: 225px;
height: 64px;
padding: 20px 30px 20px 30px;
gap: 10px;
display: flex;
gap: 12;
align-items: center;
cursor: pointer;
}

.singleSideItem span{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #596080;
}

.selectDash{
    background: #EBF9F7;

}
.selectDash span{
   color : #2C868F;

}

.sideIcons{
    font-size: 45px;
    /* min-width: 40px; */
    /* padding: 0px 0px 0px 50px; */
}

.sidebarSlide{
    width: 300px;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* background-color: red; */
    animation-name: slidebar;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    
    z-index: 100;
}


.slidebarWrap{
    display: none;
}

.allDataItem{
    display: flex;
    flex-direction: column;

}

.showSlidebar{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #FAFAFA;
    border-right: 1px solid #FAFAFA;
    box-shadow: 0px 6px 12px 0px #00000014;
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 200;
    animation-name: slidebar;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}

.singleSlideItem{
    display: flex;
    padding: 20px 30px;
    align-items: center;
    gap: 10px;
}
.singleSlideItem span{
    font-family: Inter;
    color: #596080;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    
}

.iconWrap{
    display: flex;
    justify-content: flex-end;
}

.SinselectDash{
    background: #EBF9F7;

}
.SinselectDash span{
   color : #2C868F;

}


@keyframes slidebar {
    0%{
              transform: translateX(-300px);
            }
            100%{
                
                transform: translateX(0px);
    }
}

@media (max-width:1200px) {
    .singleSideItem{
        display: none;
    }

    .sidebarWrap{
        display: none;
    }

    .slidebarWrap{
        display: flex;    

    }
   
    
}

